.banner-home{
    position: relative;
    margin-top: 70px;
    padding-top: 38px;
    background: url(../img/carrito-editado.png) center bottom no-repeat;
    background-size: 220px;

    @media (min-width: $screen-md-min) {
        padding-top: 65px;
        background: none;
    }

    .content-banner{
        margin: 0 auto;
        padding-bottom: 180px;
        margin-bottom: 10px;
        position: relative;
        
        @media (min-width: $screen-md-min) {
            width: 782px;
            padding-bottom: 165px;
            margin-bottom: 0;
        }

        .titulo{
            font-size: 20px;
            color: $azul;
            letter-spacing: -0.5px;
            text-align: center;
            line-height: 1.25;
            padding: 0 15px;

            @media (min-width: $screen-md-min) {
                font-size: 32px;
                line-height: 48px;
            }
        }
        .content-lista{
            margin: 0 15px;
            padding: 40px 0px 57px;

            @media (min-width: $screen-md-min) {
                margin: 0 auto;
                width: 508px;
                padding: 53px 0px 57px;
            }
            ul{
                padding-left: 20px;
                li{
                    display: inline-block;
                    font-size: 15px;
                    position: relative;
                    font-weight: 600;
                    color: #38383f;
                    margin-bottom: 10px;

                    @media (min-width: $screen-md-min) {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    &:after{
                        content: "\e91c";
                        font-family: 'icomoon';
                        position: absolute;
                        font-size: 6px;
                        top: 6px;
                        left: -20px;
                        color: $azul;
                    }
                }
            }
        }
    }
}

.content-img{
    display: none;
    @media (min-width: $screen-md-min) {
        display: block;
    }
    position: relative;
    .img-left{
        position: absolute;
        left: -360px;
    }
    .img-right{
        position: absolute;
        right: 0;
        top: 32px;
        width: 20%;    }
}

.button-solicita{
    line-height: 20px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    letter-spacing:  0.5px;
    background: $verde;
    color: white;
    padding: 12px 20px;
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    &:hover,
    &:focus {
        background: darken($verde, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: white;

        &:active {
            background: darken($verde, 10%);
            border-color: transparent;
            color: white;
        }
    }

    &:active {
        background: darken($verde, 10%);
        border-color: transparent;
    }
}


.btn-abajo{
    position: absolute;
    margin: 0 auto;
    bottom: -38px;
    left: 48%;
    width: 89px; 
    height: 64px;
    background: white;
    border-radius: 0 0 45px 45px;
    display: none;
    z-index: 2;

    @media (min-width: $screen-md-min) {
        display: table;
    }
    span{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}