/*footer*/
footer{
    background: $plomo;
    padding: 34px 24px 40px;
    @media (min-width: $screen-md-min){
        padding: 93px 15px 114px;
    }
    .pd-footer{
        padding: 79px 15px 114px !important;
    }
    .titulo{
        color: white;
        padding-bottom: 24px;
    }
    .container{
        max-width: 985px;
        padding: 0px 24px 0px 28px;
        @media (min-width: $screen-xs-min){
            padding: 0 ;
        }
    }
    .col-left-contact{
        margin-right: 96px;

        @media (min-width: $screen-md-min) {
            width: 397px;
            float: left;
        }

        h4 , .dato{
            font-size: 19px;
            color: #CACACC;
            font-weight: bold;
        }
        .admin{
            padding-bottom: 40px;
            p{
                font-size: 15px;
                color: #CACACC;
            }
        }
        .icon{
            float: left;
            width: 20px;
            margin-right: 5px;
            text-align: center;
            .icon-phone{
                font-size: 20px;
            }
            .icon-message{
                font-size: 14px;
            }
        }
    }
    .col-right-contact{    
        @media (min-width: $screen-md-min) {
            width: 487px;
            float: left;
        }
    }
}

.form-sesion{
    span{
        color: white;
    }
    .icon-user{
        position: absolute;
        font-size: 20px;
        top: 4px;
        padding: 9px 10px; 
    } 
    .icon-message{
        position: absolute;
        font-size: 15px;
        top: 4px;
        padding: 11px 10px; 
    }

    form{
        padding: 29px 0px 31px;
        @media (min-width: $screen-xs-min){
            padding: 0 0 11px;
        }
        .form-group{
            margin-bottom: 12px;
            position: relative;
            @media (min-width: $screen-xs-min){
                margin-bottom: 20px;
            }
            input::placeholder {
                color: #CACACC;
                font-weight: bold;
            }
        }
    }
    .form-control{
        border-radius: 4px;
        color: #CACACC;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #CACACC;
        background: $plomo;
        padding: 6px 12px 6px 35px;
        height: 45px;
    }
    textarea {
        width: 100%;
        font-size: 14px;
        font-stretch: condensed;
        text-align: left;
        min-height: 81px;
        color: #505050;
        padding: 6px 12px;
    }
    .pd-textarea{
        padding: 10px 15px !important;
    }
}


.derechos{
    border-top: 1px solid #CACACC;
    background: $plomo;
    padding: 12px 0px 33px;
    p{
        font-size: 13px;
        text-align: center;
        margin:0px;
        font-weight: 400;
        color: white;
    }

}

.button-contact{
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    background: $verde;
    color: white;
    padding: 11px 35px;
    border-color: transparent;
    &:hover,
    &:focus {
        background: darken($verde, 10%);
        border-color: transparent;
        transition: all .5s;
        &:active {
            background: darken($verde, 10%);
            border-color: transparent;
        }
    }
    &:active {
        background: darken(#fff520, 10%);
        border-color: transparent;
    }
}


