header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 5;
  width: 100%;
  left: 0;
  position: fixed;
  background: white;

  &.header--active {
    background: #6fd247;

    .container-fluid .navbar .navbar-brand span:before {
        color: white;
    }
  }

  .container-fluid {
    padding: 0;
    @media (min-width: $screen-md-min) {
      padding: 0 35px;
    }
    .navbar {
      margin-bottom: 0;
      position: inherit;
      border: 0 solid transparent;
      @media (min-width: $screen-md-min) {
        position: relative;
      }
      button {
        margin: 0;
        background: $verde;
        border-radius: 0;
        padding: 23px;
        .icon__content-bar {
          width: 20px;
          height: 17px;
          position: relative;
        }
        .icon-bar {
          width: 20px;
          height: 3px;
          background: white;
          opacity: 1;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          opacity: 1;
          position: absolute;

          &:nth-child(2)  {
            top: 0;
          } 
          &:nth-child(3) {
            top: 3px;
          } 
          &:nth-child(4) {
            top: 10px;
          }
          & + .icon-bar {
            margin-top: 7px;
          }
        }

        .icon-bar.open {
          &:nth-child(2) {
            top: 7px;
            left: 0;
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(0deg);
            opacity: 0;
            top: 4px;
          }
          &:nth-child(4) {
            transform: rotate(-45deg);
            top: 3px;
            left: 0;
          }
        }
        .icon-bar+.icon-bar {
          margin-top: 4px;
        }
      }

      .button__open {
        padding: 23px 18px 23px 25px;
      }

      .navbar-brand {
        height: 65px;
        padding: 18px 20px;
        line-height: 20px;
        position: relative;
        z-index: 5;
        @media (min-width: $screen-md-min) {
          height: 70px;
          padding: 18px 20px 14px 0;
        }
        @media (min-width: $screen-lg-min) {
          padding: 20px 25px 55px 0;
        }
        span{
            font-size: 28px;

            @media (min-width: $screen-md-min) {
                font-size: 41px;  
            }

            &:before {
                transition: color .5s;
            }
        }
      }
    }
    .navbar-collapse {
      padding: 0;
      position: absolute;
      background: transparent;
      width: 100%;
      left: 0;
      top: 65px;
      z-index: 6;
      border-top: 0;

      @media (min-width: $screen-md-min) {
        top: 0;
        position: relative;
        height: auto;
        z-index: 2;
      }
      ul {
        padding: 30px 0 0 0;
        float: right;
        width: 100%;
        text-align: center;
        margin: -1px 0 0 0;
        height: calc(100vh - 65px);
        background: #6fd247;

        @media (min-width: $screen-md-min) {
          width: auto;
          height: auto;
          padding: 0;
          margin: 10px 0 5px 0;
          background: white;
        }
        @media (min-width: $screen-lg-min) {
          margin: 6px 0;
        }
        li {
          margin-right: 0;
          margin-bottom: 10px;
          @media (min-width: $screen-md-min) {
            margin-right: 20px;
            margin-bottom: 0;
          }
          @media (min-width: $screen-lg-min) {
            margin-right: 36px;
          }
          a {
            color: white;
            font-size: 18px;
            padding: 15px 0;
            transition: .5s;
            letter-spacing: 0.5px;
            font-weight: bold;
            position: relative;
            @media (min-width: $screen-md-min) {
              color: $plomo;
              font-size: 12px;
              padding: 16px 0 7px 0;
            }
            @media (min-width: $screen-lg-min) {
              font-size: 16px;
              padding: 20px 0 7px 0;
            }
            &:hover {
              color: $azul-claro; 
              background: transparent;
            }
          }

          //.icon--active {



          //}

          .item__perfil {
            margin-top: 12px;
            padding: 7px 10px;
            color: white;
            transition: .5s;
            font-size: 16px;
            font-weight: bold;
            background: $verde;
            display: inline-block;
            border-radius: 4px;
            &:hover {
              background: darken($verde, 10%);
              color: white;
              border-bottom: 0 solid transparent;
             
            }
            @media (min-width: $screen-md-min) {
              padding: 7px 20px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}


.activo{
    &:after{
        position: absolute;
        content: "\e902";
        font-family: 'icomoon' !important;
        left: 50%;
        bottom: -10px;
        font-size: 10px;
        color: $azul-claro;
    }
}
