.about {
    background: url("../img/ubicleaner.jpg");
    background-size: 200% auto;
    min-height: 480px;
    background-position: center top;
    position: relative;
    display: block;
    padding: 280px 0 90px 0;

    @media (min-width: $screen-md-min) {
        background-position: left;
        background-size: 70% auto;
        padding: 90px 0;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(65, 116, 245, 0), #4174f5 33%, #4174f5 62%, #4174f5);

        @media (min-width: $screen-md-min) {
            top: 0;
            bottom: auto;
            width: 80%;
            height: 100%;
            background-image: linear-gradient(to right, rgba(65, 116, 245, 0), rgba(65, 116, 245, 0.88) 33%, #4174f5 62%, #4174f5);
        }
    }

    .container {
        position: relative;
    }

    &__button {
        border-radius: 4px;
        border: solid 1px white;
        color: white;
        display: inline-block;
        font-size: 16px;
        font-weight: 800;
        height: 45px;
        letter-spacing: 0.5px;
        line-height: 45px;
        text-align: center;
        padding: 0 30px;
        margin-top: 40px;

        &:hover,
        &:focus {
            color: white;
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.92;
        letter-spacing: -0.5px;
        text-align: left;
        color: white;
        margin-bottom: 5px;

        @media (min-width: $screen-md-min) {
            font-size: 33px;
            line-height: 1.45;
        }
    }

    &__subtitle {
        opacity: 0.5;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: white;
        margin-bottom: 20px;

        @media (min-width: $screen-md-min) {
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 14px;
            text-align: left;
            color: white;
            background: url(../img/drop.png) left 5px no-repeat;
            background-size: 7px auto;
            padding-left: 17px;
            margin-bottom: 5px;

            @media (min-width: $screen-md-min) {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}