.modal__contain{
    margin: 0 auto;
    width: 100%;
    @media  (min-width: $screen-xs-min){
        margin: 100px auto;
        width: 480px;
        padding-top:9%;
    } 
    @media (min-width: $screen-sm-min){
        width: 592px;
        margin: 0 auto ;
    }  
}
.modal-content{
    border-radius: 0px;
    height: 100vh;
    border: 0px solid transparent;
    @media (min-width: $screen-xs-min){
        height: 100%;
        overflow: hidden;
        border-radius: 4px;
    }
    .modal-button{
        button{
            position: absolute;
            right: 21px;
            top: 5px;
            font-size: 58px;
            font-weight: 300;
            z-index: 10;
            color: #8C8C90;
            opacity: 1;
            @media (min-width: $screen-sm-min){
                top: 0;
                right: 12px;
                font-size: 52px;
            }
        &:hover{
            opacity: .5;
        }
        &:focus{
            outline: none;
        }
        }
    }
    h2{
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        color: $azul;
        text-align: center;
    }
    .content-sesion{
        width: 294px;
        margin: 42px auto 24px;
    }
    .form-sesion{
        .form-group{
            margin-bottom: 18px;
            input::placeholder {
                color: #9A9A9E;
                font-weight: bold;
            }
            .form-control{
                background: white;
                border: 1px solid #9A9A9E;
                color: #9A9A9E;
                font-weight: bold;
            }
            span{
                color: $plomo;
            }
        }
    }

    .btn-iniciar{
        display: table;
        margin: 0 auto;
        .button-contact{
            padding: 11px 19px !important;
            letter-spacing: 0.5px;
        }
    }
}

#Soy-cliente{
    .modal-body{
        padding: 95px 0px 172px;
        overflow: auto;
    }
}

#Demo-gratuito{
    .modal-body{
       padding: 45px 35px 62px; 
    }
    .content-sesion{
        margin: 50px auto 23px;
    }
    .select-style {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        color: red;
        background: white url("../img/icon-select.png") no-repeat 92% 50%;
    }

    .select-style select {
        padding: 6px 12px;
        width: 100%;
        box-shadow: none;
        background: transparent;
    }
    .select-style select:focus {
        outline: none;
    }
    
}