.slider__home {
  min-height: calc(100vh - 65px);
  position: relative;
  @media (min-width: $screen-md-min) {
    min-height: calc(100vh - 70px);
    height: calc(100vh - 70px);
  }
  &-carousel {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $screen-md-min) {
        top: auto;
        left: auto;
        position: relative;
    }
    .owl-stage-outer {
      height: 100%;
      .owl-stage {
        height: 100%;
        .owl-item {
          height: 100%;
          position: relative;
          .item {
            position: relative;
            height: 100%;
            width: 100%;
            img {
              display: block;
              object-fit: cover;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              position: absolute;
            }
          }
        }
      }      
    }
  }

  &--content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 90px 40px;

    @media (min-width: $screen-md-min) {
        position: absolute;
        width: 630px;
        margin-left: -274px;
        margin-top: -258px;
        top: 50%;
        left: 30%;
        padding: 0;
    }
    h2.titulo{
        color: white;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.5px;
        text-align: center;

        @media (min-width: $screen-md-min) {
            font-size: 33px;
            line-height: 48px;
            text-align: left;
        }
    }
    .slider__eleccion {
      h3 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $azul;
        opacity: 1;
        margin: 0 0 8px 0;
        display: block;
        line-height: 1.22;
        @media (min-width: $screen-md-min) {
          font-size: 22px;
          line-height: 25px;
          text-align: left;
        }
      }

      p {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        opacity: 1;
        @media (min-width: $screen-md-min) {
          text-align: left;
        }
      }

      &--mineras {
        position: relative;
        cursor: pointer;
        padding: 17px 16px;
        min-height: 83px;
        max-width: 592px;
        @media (min-width: $screen-md-min) {
          padding: 20px 35px 30px 26px;
        }
        .icon-mountain {
          font-size: 49px;
          opacity: 1;
          color: white;
          float: left;
          @media (min-width: $screen-md-min) {
            font-size: 92px;
            float: none;
            opacity: 0.4;
          }
        }
      }


      &--proveedores {
        position: relative;
        cursor: pointer;
        padding: 17px 16px;
        text-align: center;
        max-width: 592px;
        @media (min-width: $screen-md-min) {
          padding: 17px 30px;
        }
        .icon-settings {
          font-size: 62px;
          opacity: 1;
          color: white;
          float: left;
          @media (min-width: $screen-md-min) {
            font-size: 89px;
            float: none;
            opacity: 0.4;
          }
        }
        
      }

      .slider__icon {
        width: 100%;
        text-align: center;
        display: table;
        margin-bottom: 20px;

        @media (min-width: $screen-md-min) {
            float: left;
            width: auto;
            margin-right: 23px;
            padding-top: 10px;
            margin-bottom: 0;
        }
        .icon-one, .icon-two, .icon-three{
            font-size: 50px;
        }
      }
      .slider__content{
        display: table;
        p {
            font-size: 14px;
            line-height: 16px;
            text-align: center;

            @media (min-width: $screen-md-min) {
                text-align: left;
                font-size: 15px;
                line-height: 18px;
            }
        }
        
      }

      &-box {
        @media (min-width: $screen-md-min) {
        }
      }

      &--mineras, &--proveedores {
        @media (min-width: $screen-md-min) {
          background: white;
          display: block;
          &:hover {
            .icon-settings {
              opacity: 1;
            } 

            .icon-mountain {
              opacity: 1;
            } 

            h3 {
              opacity: 1;
            }       
          }
        }
      }

      &--active {
        h3 {
            color: $azul-claro;
        }

        .icon-one:before,
        .icon-two:before,
        .icon-three:before{
            color: $azul-claro;

            @media (min-width: $screen-md-min) {
                font-size: 52px;
            }
        }

        @media (min-width: $screen-md-min) {
          background: white;
          padding: 30px 32px 42px 33px;
          max-width: 630px;
          .icon-settings {
            opacity: 1;
          }  
        }     
      }
    }

    .slider__titulo {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      margin: 80px 0 0 0;
      @media (min-width: $screen-md-min) {
        font-size: 32px;
        margin: 27px 0 0 0;
      }
    }
  }
}



.b-style{
    background: white;
    border-radius: 7px;
    margin: 20px auto 0; 

}

.titulo{
    font-size: 33px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.gradient{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(147deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0));
}