#beneficios{
    padding: 50px 0px 50px;
    overflow: hidden;

    @media (min-width: $screen-md-min) {
       padding: 79px 0px 70px; 
    }

    h2.titulo{
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 45px;

        @media (min-width: $screen-md-min) {
            font-size: 33px;
            line-height: 48px;
            margin-bottom: 0;
        }
    }
}

.content-image{
    margin-bottom: 15px;
}

.twentytwenty-wrapper {
    overflow: hidden;
    margin-bottom: 55px;

    @media (min-width: $screen-md-min) {
        overflow: visible;
        margin-bottom: 0;
    }

    .content-image {
        margin-left: -30px;
        margin-right: -30px;

        @media (min-width: $screen-md-min) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.content{
    .box-beneficios{
        padding: 0 15px;
        margin-bottom: 40px;

        @media (min-width: $screen-md-min) {
            padding: 0;
            margin-bottom: 0;
        }

        .icon{
            color: $azul;
            display: inline-block;
            vertical-align: middle;

            @media (min-width: $screen-md-min) {
                display: block;
                vertical-align: baseline;
            }
        }
        .icon-clock, .icon-drop-line, .icon-home{
            font-size: 27px;
        }
        .icon-card{
            padding: 5px 0px;
        }

        h4{
            color: $azul-claro;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.4px;
            font-weight: bold;
            margin: 15px 0px;
            display: inline-block;
            vertical-align: middle;

            @media (min-width: $screen-md-min) {
                display: block;
                font-size: 22px;
                vertical-align: baseline;
            }
        }
        p{
            font-size: 15px;
            padding-right: 20px;
            line-height: 18px;
        }

    }
}