#tarifas{
    background: rgba(237, 246, 255, 0.7);
    padding: 84px 0px 111px;
    overflow: hidden;
    .b-container{
        text-align: center;
    }

    .content-tarifas{
        padding: 0 30px;

        @media (min-width: $screen-md-min) {
            display: -webkit-flex;
            display: flex;
            padding: 0;
        }
        .box-tarifas{
            background: white;
            border-radius: 7px 7px 0px 0px;
            border-top: 7px solid $azul;
            padding: 30px 10px 10px;
            margin-bottom: 30px;

            @media (min-width: $screen-md-min) {
                width: 300px;
                float: left;
                margin-right: 40px;
                margin-bottom: 0;
            }
        }

        .box-tarifas:last-child{
            margin-right: 0;
        }

        .titulo-categoria{
            padding: 0px 15px;
            overflow: hidden;
            margin-bottom: 16px;

            .tipo{
                font-size: 22px;
                line-height: 25px;
                font-weight: 900;
                color: $azul;
                float: left;
            }
            
            .monto{
                font-size: 23px;
                line-height: 25px;
                font-weight: 900;
                color: $azul;
                float: right;
                span{
                    margin-left: 5px; 
                }
            }
        }

        ul{
            list-style: none;
            li{
                text-align: left;
                font-size: 15px;
                position: relative;
                line-height: 28px;
                &:after{
                    content: "\e91c";
                    font-family: 'icomoon';
                    position: absolute;
                    font-size: 7px;
                    top: 0;
                    left: -20px;
                    color: #38383f;
                }
            }
            .check{
                color: $azul-claro;
                font-weight: 600;
                &:after{
                    content: "\e905";
                    font-family: 'icomoon';
                    position: absolute;
                    font-size: 17px;
                    top: 0;
                    left: -23px;
                    color: $azul-claro;
                }
            }
        }
    }

    .btn-catgoria {
        display: inline-block;
        border: 1px solid #38383f;
        color: rgba(#38383f, 0.5);
        width: 150px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        font-weight: 900;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }

        &--active {
            background: #38383f;
            color: white;
        }

        &-wrap {
            margin: 40px 0;
            text-align: center;
        }
    }
}