
<div class="welcome__minera">
  <div class="welcome__minera--content">
    <div class="row welcome__minera--row">
      <div class="col-md-6 col-sm-5 welcome__minera-left">
        <div class="welcome__box--icon">
          <div class="icon-mountain"></div>
        </div>
        <div class="clearfix"></div>
        <p><strong>¡Bienvenido Javier!</strong><br/>Un mundo de soluciones para tus problemas de minería</p><a href="">PUBLICAR UN PROBLEMA</a>
      </div>
      <div class="col-md-6 col-sm-7 welcome__minera-right">
        <h4>SIGUE ESTOS PASOS</h4>
        <div class="welcome__pasos--content">
          <div class="welcome__pasos--box">
            <div class="welcome__row"><a class="welcome__more--flecha" href="#public__problem">
                <div class="welcome__row--number"><span>1</span></div>
                <p><strong>¿No sabes qué publicar?</strong>Mira algunos ejemplos aquí</p></a></div>
            <div class="welcome__row"><a class="welcome__more--flecha" href="http://infinity.caleidosmedia.com/cliente/publicar">
                <div class="welcome__row--number"><span>2</span></div>
                <p><strong>Publica un problema.</strong>Te guiamos paso a paso</p></a></div>
            <div class="welcome__row"><a href="">
                <div class="welcome__row--number"><span>3</span></div>
                <p><strong>Revisa las soluciones en tu panel.</strong>Tú eliges las mejores</p></a></div>
            <div class="welcome__row"><a href="">
                <div class="welcome__row--number"><span>4</span></div>
                <p><strong>Contáctate con el proveedor.</strong>Te enviaremos sus datos</p></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>