
<div id="beneficios">
  <div class="b-container">
    <div class="asi-de-facil">
      <h2 class="titulo">Asi de <strong>fácil y efectivo</strong> es el lavado <strong>Ubiclean</strong></h2>
      <div class="content-image twentytwenty-container"><img src="img/carroslimpios.jpg"/><img src="img/carrosucio.jpg"/></div>
    </div>
    <div class="content">
      <div class="col-md-3">
        <div class="box-beneficios">
          <div class="icon icon-clock"></div>
          <h4>Ahorra tiempo</h4>
          <p>No necesitas salir al trafico, gastar gasolina, esperar y volver a salir al tráfico.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-beneficios">
          <div class="icon icon-drop-line"></div>
          <h4>Ahorra tiempo</h4>
          <p>Usamos sólo 4.5 litros de agua, 45 litros menos que el lavado tradicional.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-beneficios">
          <div class="icon icon-card"></div>
          <h4>Paga a fin de mes</h4>
          <p>El pago mensual puede hacerse a través de la web.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-beneficios">
          <div class="icon icon-home"></div>
          <h4>Piso seco</h4>
          <p>Las instalaciones del edificio no se verán afectadas, el piso quedará siempre seco y bien conservado</p>
        </div>
      </div>
    </div>
  </div>
</div>