
<footer>
  <div class="contact">
    <div class="container">
      <div class="col-left-contact">
        <h2 class="titulo">Contáctanos</h2>
        <div class="admin">
          <h4>Bruno Aguilar Guerra</h4>
          <p>Administrador</p>
        </div>
        <div class="telefono">
          <div class="icon"><span class="icon-phone"></span></div>
          <div class="dato">923 423 755</div>
        </div>
        <div class="correo">
          <div class="icon"><span class="icon-message"></span></div>
          <div class="dato">bruno.aguilar@ubiclean.pe</div>
        </div>
      </div>
      <div class="col-right-contact">
        <div class="form-sesion">
          <form>
            <div class="form-group">
              <input class="form-control" id="exampleInput" type="nombre" placeholder="Nombre"/><span class="icon-user"></span>
            </div>
            <div class="form-group">
              <input class="form-control" id="exampleInputPassword1" type="correo" placeholder="Correo electrónico"/><span class="icon-message"></span>
            </div>
            <div class="form-group">
              <textarea class="form-control pd-textarea" id="comment" rows="4" placeholder="Mensaje..."></textarea>
            </div>
          </form><a class="btn btn-primary button-contact" href="#" role="button">ENVIAR</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="derechos">
  <p><span><img src="img/bitmap.png" alt=""/></span> UBICLEAN - 2017</p>
</div>