
<div class="ing-civil" id="carrera-civil">
  <div class="conten-civil">
    <div class="content-text">
      <h4>Ingeniería Civil</h4>
      <h3>Diseña la ciudad en la que quieres vivir.</h3>
      <hr/>
      <p>En UTEC formamos ingenieros que piensan no sólo en <strong>soluciones de infraestructura</strong> sino en su impacto a través de nuevas tecnologías para diseñar ciudades sostenibles. Conoce más sobre la carrera de ingeniería Civil.</p>
    </div><a href="" data-toggle="modal" data-target="#Modal-login">Solicita información</a>
  </div>
</div>