
<header>
  <div class="container-fluid">
    <nav class="navbar">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed menu-toogle" type="button" data-toggle="" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <div class="icon__content-bar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
        </button><a class="navbar-brand" href="index.html"><span class="icon-logo-ubiclean"></span></a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
        <ul class="nav navbar-nav menu__main--ul">
          <li class="active menu__main--li"><a href="#nuestro-servicio">Nuestro servicio</a></li>
          <li class="menu__main--li"><a href="#proceso">Proceso</a></li>
          <li class="menu__main--li"><a href="#beneficios">Beneficios</a></li>
          <li class="menu__main--li"><a href="#tarifas">Tarifas</a></li>
          <li class="menu__main--li"><a href="#ubicleaners">Ubicleaners</a></li>
          <li class="menu__main--li"><a href="" data-toggle="modal" data-target="#Demo-gratuito" data-page="1">Contacto</a></li>
          <li><a class="item__perfil" href="#" data-toggle="modal" data-target="#Soy-cliente" data-page="1">Soy cliente</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>