
<div class="panel__content"> 
  <div class="panel__problemas">
    <div class="panel__filtro">
      <p>Mi panel de problemas</p>
      <div class="panel__filtro-box">
        <select class="form-control">
          <option>Categorias</option>
          <option>Categorias</option>
          <option>Categorias</option>
        </select>
        <select class="form-control">
          <option>Ordenar por</option>
          <option>Ordenar por</option>
          <option>Ordenar por</option>
        </select>
        <button>BUSCAR</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="panel__problemas--result">
        <div class="row panel__result--content">
          <div class="col-md-3 panel__result-img"><a href=""><img src="img/prob-01.png" alt=""/>
              <div class="overlay__problemas">
                <p>VER PROBLEMA</p>
              </div></a></div>
          <div class="col-md-5 panel__result--datos"><a href="">
              <div class="panel__result-titulo">
                <p>Prevenir ingreso de inchancables a la chancadora primaria inchancables a la chancadora primaria</p>
              </div>
              <div class="panel__result-date">
                <div><span> <img class="calendar" src="img/icono/i-calendario.png" alt=""/>14 Jul 2017</span></div>
                <div>
                  <p>PERÚ</p>
                </div>
              </div></a></div>
          <div class="col-md-4 panel__result-box-sol">
            <div class="panel__result-solutions"><a href="">3 Soluciones</a></div>
            <div class="panel__result-settings"><a class="rueda__settings" href="">
                <div class="icon-settings"></div></a>
              <div class="problemas__setting--menu">
                <ul>
                  <li><a href=""> 
                      <div class="icon-pencil"></div>Editar</a></li>
                  <li><a href=""> 
                      <div class="icon-folder"></div>Archivar</a></li>
                  <li><a href=""> 
                      <div class="icon-trash"></div>Eliminar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel__problemas--result">
        <div class="row panel__result--content">
          <div class="col-md-3 panel__result-img"><a href=""><img src="img/prob-01.png" alt=""/>
              <div class="overlay__problemas">
                <p>VER PROBLEMA</p>
              </div></a></div>
          <div class="col-md-5 panel__result--datos"><a href="">
              <div class="panel__result-titulo">
                <p>Prevenir ingreso de inchancables a la chancadora primaria</p>
              </div>
              <div class="panel__result-date">
                <div><span> <img class="calendar" src="img/icono/i-calendario.png" alt=""/>14 Jul 2017</span></div>
                <div>
                  <p>PERÚ</p>
                </div>
              </div></a></div>
          <div class="col-md-4 panel__result-box-sol">
            <div class="panel__result-solutions"><a href="">3 Soluciones</a></div>
            <div class="panel__result-settings"><a class="rueda__settings" href="">
                <div class="icon-settings"></div></a>
              <div class="problemas__setting--menu">
                <ul>
                  <li><a href=""> 
                      <div class="icon-pencil"></div>Editar</a></li>
                  <li><a href=""> 
                      <div class="icon-folder"></div>Archivar</a></li>
                  <li><a href=""> 
                      <div class="icon-trash"></div>Eliminar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>