
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Pop-up-hola">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="usuario-nombre">
          <h2>Hola Javier,</h2>
          <p>Los usuarios que confirman su número de contacto reciben 80% mejores soluciones, por favor confirma tu número.</p>
          <div class="btn-descartar"><a class="btn btn-default btn-confirmar-numero A" href="#" role="button">Confirma tu número de contacto aquí</a><a class="btn btn-default btn-confirmar-numero B" href="#" role="button">Confirma tu número aquí</a><a class="btn btn-primary button-yellow-g" href="#" role="button">CONFIRMAR</a></div>
        </div>
        <div class="check-mensaje">
          <div class="checkbox">
            <label>
              <input type="checkbox"/> No volver a ver éste mensaje
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>