
<div class="subir_problema" id="funcionario-proveedor">
  <div class="container">
    <div class="col-md-4 col__propuesta-l">
      <div class="content__titulo">
        <h4>FUNCIONARIO MINERO</h4>
        <P><strong> Sube tu problema </strong></P>
        <div class="line"></div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/invalid-name.png" alt=""/></div>
        <div class="__text">
          <p><strong>Sube tu Problema muy fácil y sin costo.</strong> Mantendremos tus datos y los de tu empresa de forma confidencial.</p>
        </div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/check-circle.png" alt=""/></div>
        <div class="__text">
          <p><strong>Revisa las soluciones </strong> que te serán enviadas por proveedores de clase mundial.</p>
        </div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/star-o-anticon.png" alt=""/></div>
        <div class="__text">
          <p><strong> Elige las mejores soluciones para ti </strong>  y contáctate con los proveedores. Solo en este momento revelaras tus datos de contacto (tú decides).</p>
        </div>
      </div><a class="btn btn-primary button-minero" href="#" role="button">REGISTRATE</a>
    </div>
    <div class="col-md-4 col__reloj--home"><img class="img-center" src="img/page-1.png" alt=""/></div>
    <div class="col-md-4 col__propuesta-r">
      <div class="content__titulo">
        <h4>PROVEEDOR MINERO</h4>
        <P><strong> Plantea propuestas </strong></P>
        <div class="line"></div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/magnifier-simple-line-icons.png" alt=""/></div>
        <div class="__text">
          <p><strong>Revisa los Problemas publicados.</strong>  por mineras de clase mundial.</p>
        </div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/check-circle.png" alt=""/></div>
        <div class="__text">
          <p><strong>Plantea tus propuestas de solución </strong> a los problemas que puedes resolver.</p>
        </div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/star-o-anticon.png" alt=""/></div>
        <div class="__text">
          <p><strong> Recibe el contacto de las mineras </strong> que valoren tus propuestas de solución.</p>
        </div>
      </div>
      <div class="sub__problemas">
        <div class="__img"><img src="img/icono/line-chart-anticon.png" alt=""/></div>
        <div class="__text">
          <p><strong> Incrementa tus ventas </strong> hasta en un 65% con tu suscripción a Linkminers</p>
        </div>
      </div><a class="btn btn-primary button-minero" href="#" role="button">REGISTRATE</a>
    </div>
  </div>
</div>