
<div class="slider__home">
  <div class="owl-carousel owl-theme slider__home-carousel">
    <div class="item"><img src="img/bg/banner-mina.png" alt=""/></div>
    <div class="item"><img src="img/bg/banner-minero.png" alt=""/></div>
  </div>
  <div class="slider__home--content">
    <div class="slider__eleccion">
      <div class="slider__eleccion--mineras slider__electo slider__eleccion--active" data-index="0">
        <div class="slider__icon">
          <div class="icon-mountain"></div>
        </div>
        <div class="slider__eleccion-box"><span>MINERAS</span>
          <p>con un problema</p>
        </div>
      </div>
      <div class="slider__eleccion--icon">
        <div class="icon-icon-main"></div>
      </div>
      <div class="slider__eleccion--proveedores slider__electo" data-index="1">
        <div class="slider__icon">
          <div class="icon-settings"></div>
        </div>
        <div class="slider__eleccion-box"><span>PROVEEDORES</span>
          <p>con una solución</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="slider__descript-main">
      <h3 class="slider__titulo">Un mundo de soluciones para tus problemas de la minería</h3><a class="slider__vinculo" href="#funcionario-proveedor">QUIERO SABER MÁS</a>
    </div>
    <div class="slider__descript-main" style="display: none;">
      <h3 class="slider__titulo">Ilimitados problemas que necesitan de tus soluciones</h3><a class="slider__vinculo" href="#funcionario-proveedor">QUIERO SABER MÁS</a>
    </div>
  </div>
  <div class="slider__arrow">
    <div class="customPrevBtn slider__arrow-left"><img src="img/icono/slider-left.png" alt=""/></div>
    <div class="customNextBtn slider__arrow-right"><img src="img/icono/slider-right.png " alt=""/></div>
  </div>
</div>