//colors
$azul: #34529d !default;
$azul-claro: #4174f5 !default;
$verde: #6fd247 !default;
$plomo: #38383f !default;


//fonts
$base-font-family: 'Nunito', sans-serif;
$nunito: $base-font-family;

$base-font-size: 18px !default;
$base-font-weight: 300 !default;

//misc
$gutter-bootstrap: 15px !default;

$link-color: #847931 !default;
$link-hover-color: darken( #847931, 10% ) !default;

//sizes
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-md-ex-min: 1100px;
$screen-lg-min: 1200px;

$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xxs-max: 375px;

$screen-sm-width: 750px;
$screen-md-width: 970px;
$screen-lg-width: 1170px;