@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?225jde');
  src:  url('../fonts/icomoon.eot?225jde#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?225jde') format('truetype'),
    url('../fonts/icomoon.woff?225jde') format('woff'),
    url('../fonts/icomoon.svg?225jde#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-three:before {
  content: "\e906";
  color: #34529d;
}
.icon-two:before {
  content: "\e907";
  color: #34529d;
}
.icon-one:before {
  content: "\e908";
  color: #34529d;
}
.icon-clock:before {
  content: "\e900";
  color: #4174f5;
}
.icon-card:before {
  content: "\e901";
  color: #4174f5;
}
.icon-drop:before {
  content: "\e902";
  color: #4174f5;
}
.icon-drop-line:before {
  content: "\e903";
  color: #4174f5;
}
.icon-message:before {
  content: "\e904";
  color: #fff;
}
.icon-circle-check:before {
  content: "\e905";
  color: #4174f5;
}
.icon-home:before {
  content: "\e91a";
  color: #4174f5;
}
.icon-logo-ubiclean:before {
  content: "\e91b";
  color: #34529d;
}
.icon-check:before {
  content: "\e91c";
  color: #34529d;
}
.icon-phone:before {
  content: "\e91d";
  color: #fff;
}
.icon-user:before {
  content: "\e91e";
  color: #fff;
}
.icon-arrow-down-simple-line-icons:before {
  content: "\e91f";
}
