strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
}


.pd-0{
    padding: 0px;
}
.pd-r0{
    padding-right: 0px;
}
.pd-l0{
    padding-left: 0px;
}

.ocultar{
    display: none ;
    @media (min-width: $screen-md-min){
        display: block;
    }
}
.ocultar2{
    display: block;
    @media (min-width: $screen-md-min){
        display: none;
    }
}

.b-container{
    max-width: 1015px;
    margin: 0 auto;
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
    display: none;
}

.twentytwenty-horizontal .twentytwenty-handle {
    &:before,
    &:after {
        box-shadow: none;
        -webkit-box-shadow: none;
        background: #6fd247;
        width: 5px;
        margin-left: -2.5px;
    }
}

.twentytwenty-handle {
    background-color: #6fd247;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../img/u-icon.png);  
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    width: 49px;
    height: 49px;
    margin-left: -24.5px;
    margin-top: -24.5px;
    background-size: 23px;

    @media (min-width: $screen-md-min) {
        width: 64px;
        height: 64px;
        margin-left: -32px;
        margin-top: -32px;
        background-size: auto;

    }
}


.navbar-header {
    float: none;

    @media (min-width: $screen-md-min) {
        float: left;
    }
}