html {
    height: 100%;
}

html,
body {
    font-family:  'Nunito', sans-serif;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background: #ffffff;
    color: $plomo;
}

body.body-overflow, html.body-overflow {
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        overflow: auto;
    }
}

a {
    color: $plomo;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $plomo;
        text-decoration: none;
    }
}

.wrapper {
    padding-left: 0;
    @media (min-width: $screen-md-min) {
        padding-left: 248px;
    }
}

