section.about
    .container
        .row
            .col-md-5.col-md-offset-7
                h2.about__title NUESTROS UBICLEANERS
                h4.about__subtitle Ofrecemos a nuestros colaboradores:
                ul.about__list
                    li Ingreso a planilla con pagos puntuales.
                    li Entrenamiento y horarios flexibles.
                    li Buen ambiente de trabajo.
                    li Gana más por productividad.

                a.about__button(href="#") ÚNETE A UBICLEAN AQUÍ
