#nuestro-servicio
    .banner-home
        .content-img
            img.img-left(src="img/carros.jpg", alt="")
            img.img-right(src="img/carrito-editado.png", alt="")
        .content-banner
            p.titulo Damos un <strong>servicio privado</strong> para tu edificio o multifamiliar, un nuevo concepto en <strong>limpieza de autos.</strong>
            .content-lista
                ul
                    li Llevamos una unidad de limpieza a tu estacionamiento.
                    li Contamos con personal capacitado, en planilla y asegurado.
                    li Usamos muy poca agua y contamos con fuente de energía propia.
                    li Tenemos cuidado especial de tu vehículo y cochera.

            a.btn.btn-primary.button-solicita(href='#', role='button') SOLICITA UNA DEMO GRATIS


            a.btn-abajo(href="")
                span.icon-arrow-down-simple-line-icons


