footer
    .contact
        .container
            .col-left-contact
                h2.titulo Contáctanos
                .admin
                    h4 Bruno Aguilar Guerra
                    p Administrador
                .telefono
                    .icon
                        span.icon-phone
                    .dato 923 423 755

                .correo
                    .icon
                        span.icon-message
                    .dato bruno.aguilar@ubiclean.pe

            .col-right-contact
                .form-sesion
                    form
                        .form-group
                            input#exampleInput.form-control(type='nombre', placeholder='Nombre')

                            span.icon-user

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Correo electrónico')

                            span.icon-message

                        .form-group
                            textarea#comment.form-control.pd-textarea(rows='4', placeholder='Mensaje...', )

                    a.btn.btn-primary.button-contact(href='#', role='button') ENVIAR


.derechos
    p
        span
            img(src="img/bitmap.png", alt="")
        |  UBICLEAN - 2017



