header
    .container-fluid
        nav.navbar
            .navbar-header
                button.navbar-toggle.collapsed.menu-toogle(type="button", data-toggle="", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    .icon__content-bar
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                a.navbar-brand(href="index.html")
                    span.icon-logo-ubiclean
            .navbar-collapse.collapse#bs-example-navbar-collapse-1(aria-expanded="true")
                ul.nav.navbar-nav.menu__main--ul
                    li.active.menu__main--li
                        a(href="#nuestro-servicio") Nuestro servicio
                    li.menu__main--li
                        a(href="#proceso") Proceso
                    li.menu__main--li
                        a(href="#beneficios") Beneficios
                    li.menu__main--li
                        a(href="#tarifas") Tarifas
                    li.menu__main--li
                        a(href="#ubicleaners") Ubicleaners
                    li.menu__main--li
                        a(href="", data-toggle='modal', data-target='#Demo-gratuito', data-page='1') Contacto
                    li
                        a.item__perfil(href='#', data-toggle='modal', data-target='#Soy-cliente', data-page='1') Soy cliente
