<!-- Soy cliente -->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Soy-cliente")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                h2 Iniciar sesión

                .form-sesion.content-sesion
                    form
                        .form-group
                            input#exampleInput.form-control(type='nombre', placeholder='Correo electrónico')

                            span.icon-user

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Contraseña')

                            span.icon-message


                .btn-iniciar
                    a.btn.btn-primary.button-contact(href='#', role='button') INICIAR SESIÓN


<!-- Demo gratuito -->

.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Demo-gratuito")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                h2 Si vives en un edificio multifamiliar podemos hacer una demo gratuita para ti y tus vecinos.

                .form-sesion.content-sesion
                    form
                        .form-group
                            input#exampleInput.form-control(type='nombre', placeholder='Correo electrónico')

                            span.icon-user

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Contraseña')

                            span.icon-message

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Teléfono')

                            span.icon-message

                        .form-group
                            .select-style
                                select.form-control
                                    option(value='volvo') Mi Rol
                                    option(value='saab') Saab
                                    option(value='mercedes') Mercedes
                                    option(value='audi') Audi


                .btn-iniciar
                    a.btn.btn-primary.button-contact(href='#', role='button') INICIAR SESIÓN
