#tarifas
    .b-container
        h2.titulo Tarifario de servicios
        h3 La unidad en tu edificio puede brindar <strong>estos servicios</strong>, con la <strong>frecuencia que necesites.</strong>

        .row-btn-categoria
            .btn-catgoria-wrap
                a.btn-catgoria.btn-catgoria--active(href='#', data-tarifa="autos") AUTOS
                a.btn-catgoria(href='#', data-tarifa="camionetas") CAMIONETAS

            .content-tarifas.content-autos
                .box-tarifas
                    .titulo-categoria
                        .tipo Básico
                        .monto S/.
                            span
                                | 15
                    ul
                        li Aplicación shampoo sin enjuague.
                        li Limpieza con paños de microfibra.
                        li Secado de vehículo.
                        li Silicona en llantas.
                        li Silicona en Vinilos.
                .box-tarifas
                    .titulo-categoria
                        .tipo Completo
                        .monto S/.
                            span
                                | 20
                    ul
                        li.check Todo el Básico.
                        li Limpieza interior.
                        li Aspirado superficial.
                        li Limpieza de tapices.
                        li Silicona en tableros.
                .box-tarifas
                    .titulo-categoria
                        .tipo Profesional
                        .monto S/.
                            span
                                | 30
                    ul
                        li.check Todo el Básico y Completo.
                        li Cera protectora.
                        li Cera Easy Shine SONAX.

            .content-tarifas.content-camionetas(style="display:none")
                .box-tarifas
                    .titulo-categoria
                        .tipo Básico
                        .monto S/.
                            span
                                | 20
                    ul
                        li Aplicación shampoo sin enjuague.
                        li Limpieza con paños de microfibra.
                        li Secado de vehículo.
                        li Silicona en llantas.
                        li Silicona en Vinilos.
                .box-tarifas
                    .titulo-categoria
                        .tipo Completo
                        .monto S/.
                            span
                                | 25
                    ul
                        li.check Todo el Básico.
                        li Limpieza interior.
                        li Aspirado superficial.
                        li Limpieza de tapices.
                        li Silicona en tableros.
                .box-tarifas
                    .titulo-categoria
                        .tipo Profesional
                        .monto S/.
                            span
                                | 35
                    ul
                        li.check Todo el Básico y Completo.
                        li Cera protectora.
                        li Cera Easy Shine SONAX.
