.mi-panel{
    .content{
        max-width: 1042px;
        margin: 123px auto 43px;
        padding: 0px 20px;
        overflow: hidden;
    }
    .titulo{
        font-size: 20px;
        line-height: 25px;
        color: $azul;
        font-weight: bold;
        padding-bottom: 11px;
        @media (min-width: $screen-xs-min){
            font-size: 22px;
        }
    }
    .infomacion{
        font-size: 14px;
        line-height: 18px;
        @media (min-width: $screen-xs-min){
            font-size: 15px;
        }
    }
}
.servicios-del-mes{
    overflow: hidden;
}
.row-servicios{
    display: block;
    margin: 0 auto;
    text-align: center;
    @media (min-width:$screen-sm-min){
        display: table;
    }
    .col-right-servicios{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        .pago{
            .imprimir{
                font-size: 15px;
                text-align: center;
                display: block;
                color: $verde;
                font-weight: bold;
                margin-top: 11px;
            }
        }
    }
    .col-left-servicios{
        float: none;
        max-width: 810px;
        margin-right: 0;
        @media (min-width:$screen-sm-min){
           float: left; 
           margin-right: 40px;
        }
        .tabla-servicios{
            margin: 25px 0px 40px;
            background: #f2f8ff;
            border-radius: 7px;
            border-top: 7px solid $azul;
            overflow: hidden;
            padding: 28px 20px;
            @media (min-width:$screen-xs-min){
                margin: 44px 0px 40px;
                padding: 23px 46px 27px 40px;
            }
        }
        .dato-tabla{
            display: block;
            overflow: hidden;
            margin-bottom: 33px;
            .mes{
                font-size: 18px;
                line-height: 25px;
                color: $azul;
                font-weight: 900;
                float: left;
                @media (min-width: $screen-sm-min){
                    font-size: 22px;
                }

            }
            .pendiente{
                font-size: 14px;
                line-height: 27px;
                letter-spacing: 0.5px;
                font-weight: 900;
                color: $azul-claro;
                float: right;
                @media (min-width: $screen-xs-min){
                    font-size: 15px;
                }
            }
        }
        .content-tabla{
            display: block;
            overflow: hidden;
            position: relative;
            h4{
                font-size: 14px;
                line-height: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }
            p{
                font-size: 15px;
                line-height: 38px;
            }
            .box-categoria{
                overflow: hidden;
                margin-bottom:13px;
            }

            .categoria-servicio{
                width: 185px;
                float: none;
                margin-right: 23px;
                @media (min-width:$screen-sm-min){
                    width: 237px;
                    float: left;
                }
                h4{
                    text-align: left;
                    @media (min-width:$screen-sm-min){
                        text-align: center;
                    }
                }
            }
            .categoria-fecha{
                width: 60px;
                float: none;
                margin-right: 33px;
                text-align: center;
                @media(min-width: $screen-sm-min){
                    float: left;
                }
            }
            .categoria-placa{
                width: 78px;
                float: none;
                margin-right: 42px;
                text-align: center;
                @media(min-width: $screen-sm-min){
                    float: left;
                }
            }
            .categoria-ubi{
                width: 122px;
                float: none;
                margin-right: 40px;
                text-align: center;
                @media(min-width: $screen-sm-min){
                    float: left;
                }
            }
            .categoria-precio{
                position: absolute;
                right: 0;
                top: 0;
                text-align: center;
                @media(min-width: $screen-sm-min){
                    float: left;
                }
                h4{
                    margin-bottom:13px;
                }
            }
            .total{
                position: relative;
                float: right;
                margin-top:  32px;
                color: $azul;
                h4{
                    font-size: 19px;
                    line-height: 25px;
                    font-weight: bold;
                    text-transform: initial !important;
                    float: left;
                    display: table;
                    margin-right: 42px;
                }
                .monto{
                    float: left;
                    line-height: 25px;
                    font-weight: bold;
                    font-size: 19px;
                }
            }
        }
    }
}

.icono-plan{
    font-size: 15px;
    padding-left: 17px;
    line-height: 20px;
    position: relative;
    text-align: left;
    font-weight: bold;
    @media(min-width: $screen-xs-min){
       line-height: 38px; 
       font-weight: 300;
    }
    &:after{
        position: absolute;
        content: "\e902";
        font-size: 10px;
        font-family: 'icomoon' !important;
        left: 0;
        top: 0;
    }
}
.button-pago{
    line-height: 21px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
    background: $verde;
    color: white;
    padding: 11px 20px;
    border-color: transparent;
    display: block;
    &:hover,
    &:focus {
        background: darken($verde, 10%);
        border-color: transparent;
        transition: all .5s;
        &:active {
            background: darken($verde, 10%);
            border-color: transparent;
        }
    }
}

hr.line{
    border-top: 2px solid $azul;
    margin: 36px 103px 26px 7px;
}

.recibos{
    .row-recibos{
        display: table;
        .box-mes{
            width: 166px;
            float: left;
            .icono-plan{
                text-transform: uppercase;
                font-size: 14px !important;
            }
        }
        .box-pendiente{
            width: 230px;
            float: left;
            .text-blue{
                font-size: 15px;
                font-weight: bold;
                color: $azul-claro;
                line-height: 38px;
            }
            .text{
                font-size: 14px;
                line-height: 38px;
            }
        }
        .box-detalle{
            width: 112px;
            float: left;
            text-align: center;
            a{
                font-size: 14px;
                line-height: 38px;
                font-weight: bold;
            }
        }
    }
}

.content-ver-detalles{
    display: none;
}

.d-none{
    display: none;
    @media (min-width: $screen-md-min){
        display: block;
    }
}