.requerimiento{
    background: $gris;
    overflow: hidden;
    padding: 0px 20px;
    
    .__content{
        max-width: 1024px;
        margin: 0 auto;
    }

    .btn-publicar{
        float: none;
        @media (min-width: $screen-xs-min){
            float: right;
        }
    }

    .volver_panel{
        padding: 30px 0px 35px 0;
        float: none;
        @media (min-width: $screen-xs-min){
            padding: 40px 0px 35px 0;
        }
        a{
            font-size: 14px;
            font-weight: bold;
        }
    }

    .__row{
        display: block;
        overflow: hidden;
        .content__titulo{
            float: left;
            padding-bottom: 24px;
            @media (min-width: $screen-xs-min){
                padding-bottom: 44px;
            }
        }

        ._lista{
            display: inline-table;
            float: none;
            @media (min-width: $screen-md-min){
                float: right;
            }
            ul{
                list-style: none;
                padding: 0px;
                padding-top: 0px;
                @media (min-width: $screen-xs-min){
                    padding-top: 25px;
                }
                li{
                    float: left;
                    .iconos{
                        margin-right: 32px;
                        .iconos:last-child{
                            margin-right: 0px;
                        }
                        span{
                            font-size: 17px;
                            float: left;
                            font-weight: bold;
                            margin-right: 8px;
                            @media (min-width: $screen-xs-min){
                                font-size: 30px;
                            }
                        }
                        h4{
                            font-size: 14px;
                            font-weight: bold;
                            float: left;
                            line-height: 22px;
                            @media (min-width: $screen-xs-min){
                               font-size: 18px;
                               line-height: 35px;

                            }
                        }
                    }
                }
            }
        }

        .col-lista-problema{
            max-width: 100%;
            float: none;
            padding-bottom: 60px;
            @media (min-width: $screen-md-min){
                max-width: 795px;
                float: left;
                padding-bottom: 0px;
            }
            ul{
                position: relative;
                list-style: none;
                padding: 0;
                li{
                    padding-bottom: 20px;
                }
                li:last-child{
                    padding-bottom: 0px;
                }

                h4{
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 300;
                    position: relative;
                    padding-left: 32px;
                    &:before{
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: black;
                        border-radius: 50%;
                        position: absolute;
                        left: 0px;
                        top: 3px;
                    }
                        
                }
            }
        }
    }
}    
    
.caracteristicas{
    padding-top: 50px;
    @media (min-width: $screen-xs-min){
        padding-top: 0px;
    }
    .__row{
        padding-bottom: 0px;
        @media (min-width: $screen-md-min){
            padding-bottom: 62px;
        }
        .col-left{
            max-width: 100%;
            margin: 0;
            float: none;
            padding-top: 35px;
            @media (min-width: $screen-md-min){
                padding-top: 0px;
                float: left;
                max-width: 174px;
                margin: 0 51px 0 0;
            }
        }

        .col-medium{
            max-width: 100%;
            margin: 0;
            float: none;
            @media (min-width: $screen-md-min){
                float: left;
                max-width: 373px;
                margin: 0 51px 0 0;
            }
        }

        .col-right{
            max-width: 100%;
            float: none;
            @media (min-width: $screen-md-min){
                max-width: 373px;
                float: left;
            }
        }



        .__titulo{
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 25px;
        }

        .caractericas__text{
            color: black;
            h4{
                font-size: 20px;
                font-weight: bold;
                line-height: 32px;
                font-weight: 300;
                padding-bottom: 14px;
            }

            p{
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 25px;
                @media (min-width: $screen-xs-min){
                    padding-bottom: 0px;
                }
            }
        }
    }

    .descripcion-foto{
        .col-md-6{
            padding: 0 0 60px;
        }
        .col-md-6:last-child{
            padding: 0 0 25px;
        }
        @media (min-width:$screen-sm-min){
            .col-md-6{
                padding: 0 12px 0 0;
            }
            .col-md-6:last-child{
                padding: 0 0 0 12px;
            }
        }
    }


    .fotografia-mina{
        img{
           width: 100%; 
        }
        h4{
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            padding: 5px;
            @media (min-width: $screen-md-min){
                padding: 13px 0px 34px;
            }
        }
    }
}


.btn-soluciones-editar{
    padding: 5px 0px 59px;
    display: block;
    margin: 0 auto;
    @media (min-width:$screen-md-min){
        display: table;
        padding: 50px 0px;
    }

    .btn{
        margin: 0 auto;
        display: table;
    }

    .button-yellow-g{
        display: block;
        margin: 0 auto;
        @media (min-width:$screen-sm-min){
            margin:0 25px 0 0 ;
            float: left;
        }
    }

    .button-white{
        display: none;
        @media (min-width:$screen-sm-min){
            display: block;
            overflow: hidden;
            line-height: 20px;
            width: 224px;
            border: 1px solid transparent;
            font-size: 15px;
            font-weight: bold;
            background: white;
            color: black;
            padding: 10px 0px 14px;
            border: 1px solid black;
            border-radius: 0;
            font-family: $oswald;
        }

        &:hover,
        &:focus {
            background: darken(white, 10%);
            border: 1px solid black;
            outline: 0;
            transition: all .5s;
            color: black;

            &:active {
                background: darken(white, 10%);
                border: 1px solid black;
                color: black;
            }
        }
        &:active {
            background: darken(white, 10%);
            border: 1px solid black;
        }
        
        span {
          position: relative;
          padding: 0 9px 0 20px;
          &:before {
            position: absolute;
            content: "\e905";
            font-size: 20px;
            font-family: 'icomoon';
            left: 0;
            color: black;
          }              
        }
    }

    .borrar{
        display: none;
        @media (min-width: $screen-sm-min){
            display: table;
            margin: 0 auto;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            margin-top: 26px;
            text-transform: underline;
            span {
                position: relative;
                &:before {
                    position: absolute;
                    content: "\e9ac";
                    font-size: 16px;
                    font-weight: bold;
                    font-family: 'icomoon';
                    left: -25px;
                    top: -3px;
                    color: black;
                }              
            }
        }
    }
}



.button-yellow-g{
    width: 224px;
    line-height: 20px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: bold;
    background: $yellow;
    color: black;
    padding: 13px 0px ;
    font-family: $oswald;
    border-radius: 0;
    box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.17);

    &:hover,
    &:focus {
        background: darken($yellow, 10%);
        border-color: transparent;
        outline: 0;
        transition: all .5s;
        color: black;

        &:active {
            background: darken($yellow, 10%);
            border-color: transparent;
            color: black;
        }
    }
    &:active {
        background: darken($yellow, 10%);
        border-color: transparent;
    } 
}

.solutiones__text-general {
  font-family: $beton;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #000000;
  margin: 0 0 20px 0;
}

.solutiones__recort {
  img {
    width: 100%;
    height: 285px;
    object-fit: cover;
  }
}

.solutions__caracteristicas {
  .__row {
    padding-bottom: 15px;
  }
}

.solutions__button-contactar {
  margin: 0 auto !important;
  float: left;
}

.solutions__button-descartar {
  display: block;
  text-align: center;
  padding-left: 30px;
  margin-top: 26px;
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
  margin-top: 26px;
  @media (max-width: $screen-md-max) {
    padding-left: 0;
    margin-top: 20px;
  }
}

.col-lista-problema {
  .row {
    margin: 30px 0 0 -15px;
  }
}

.solutiones__subtitulo {
  font-family: $beton;
  font-size: 20px !important;
  line-height: 1.6 !important;
  text-align: left;
  color: #272727;
  margin: -20px 0 15px 0 !important;
  @media (max-width: $screen-xs-max) {
    line-height: 1.2 !important;
  }
}

.solutions__content--titulo {
  max-width: 100%;
  @media (max-width: $screen-xs-max) {
    p {
      font-size: 20px;
    }
  }

}

.solutions__edit {
  padding: 20px 0px 75px 0;
}

.solutions__caracteristicas {
  @media (max-width: $screen-xs-max) {
    padding-top: 15px;
    .solutions__edit {
      padding: 25px 0 40px 0;
    }
  }

  @media (max-width: $screen-md-max) {
    .__row {

      .col-left {
        padding-top: 0;
      }

      .col-lista-problema {
        padding-bottom: 0;
        max-width: 100%;
      }      
    }
  }
}

.solution__detail-photo {
  @media (max-width: $screen-md-max) {
    margin: 10px 0 10px 0;
  }
}