extends layout


block content
    include inc/menu
    include inc/banner-home
    include inc/slider-home
    include inc/beneficios
    include inc/tarifas
    include inc/about
    include inc/pop-up
    include inc/footer


