- var bodyClass = '';
- var htmlClass = '';
block vars
doctype html
html(lang='es', class=htmlClass)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Ubiclean
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:300,700,800,900', rel='stylesheet')
        link(rel='stylesheet', href='lib/owl.carousel/dist/assets/owl.carousel.min.css')
        link(rel='stylesheet', href='lib/twentytwenty/css/twentytwenty.css')
        link(rel='stylesheet', href='css/style.css?v=1.9')



    body(class=bodyClass)
        block content

        script(src='lib/jquery/dist/jquery.min.js')
        script(src='lib/owl.carousel/dist/owl.carousel.min.js')
        script(src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='lib/twentytwenty/js/jquery.event.move.js')
        script(src='lib/twentytwenty/js/jquery.twentytwenty.js')
        script(src='js/main.js')

