extends layout


block content
    include inc/menu

    .mi-panel
        .content
            .servicios-del-mes
                h3.titulo ¡Hola Yuliana!
                p.infomacion son tus servicios del mes de Octubre.

                .row-servicios
                    .col-left-servicios
                        .tabla-servicios
                            .dato-tabla
                                .mes Octubre
                                .pendiente Pendiente de pago

                            .content-tabla
                                .box-categoria
                                    .categoria-servicio
                                        h4 servicios
                                    .categoria-fecha.d-none
                                        h4 Fecha
                                    .categoria-placa.d-none
                                        h4 Placa
                                    .categoria-ubi.d-none
                                        h4 Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .categoria-precio
                                    h4 Precio
                                    p S/.15.00
                                    p S/.15.00
                                    p S/.15.00

                                .clearfix

                                .total
                                    h4 Total
                                    p.monto S/.80.00


                    .col-right-servicios
                        .pago
                            a.btn.btn-primary.button-pago(href='#', role='button') PAGAR RECIBO

                            a.imprimir(href="") IMPRIMIR RECIBO

            hr.line

            .recibos
                h3.titulo Recibos anteriores

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text-blue PENDIENTE DE PAGO

                    .box-detalle
                        a.detalles(href="#") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .content-ver-detalles

                    .row-servicios
                        .col-left-servicios
                            .tabla-servicios
                                .dato-tabla
                                    .mes Octubre
                                    .pendiente Pendiente de pago

                                .content-tabla
                                    .box-categoria
                                        .categoria-servicio
                                            h4 servicios
                                        .categoria-fecha
                                            h4.titulo-none Fecha
                                        .categoria-placa
                                            h4.titulo-none Placa
                                        .categoria-ubi
                                            h4.titulo-none Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .categoria-precio
                                        h4 Precio
                                        p S/.15.00
                                        p S/.15.00
                                        p S/.15.00

                                    .clearfix

                                    .total
                                        h4 Total
                                        p.monto S/.80.00

                        .col-right-servicios
                            .pago
                                a.btn.btn-primary.button-pago(href='#', role='button') PAGAR RECIBO

                                a.imprimir(href="") IMPRIMIR RECIBO


                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

    footer.pd-footer
        .contact
            .container
                h2.titulo Si tienes alguna consulta no dudes en contactarnos.
                .col-left-contact
                    .admin
                        h4 Bruno Aguilar Guerra
                        p Administrador
                    .telefono
                        .icon
                            span.icon-phone
                        .dato 923 423 755

                    .correo
                        .icon
                            span.icon-message
                        .dato bruno.aguilar@ubiclean.pe

                .col-right-contact
                    .form-sesion
                        form
                            .form-group
                                input#exampleInputPassword1.form-control(type='correo', placeholder='Correo electrónico')

                                span.icon-message

                            .form-group
                                textarea#comment.form-control.pd-textarea(rows='4', placeholder='Mensaje...', )

                        a.btn.btn-primary.button-contact(href='#', role='button') ENVIAR





